<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ziyiou.netshare.mapper.ShareMapper">
    <select id="getShareInfo" parameterType="Long" resultType="com.ziyiou.netshare.model.vo.ShareVo">
        select uf.filename, share.shareLink link, share.createTime, share.expiration exp from share
        left join userfile uf on share.userFileId =uf.userFileId
        where share.userId = #{userId}
    </select>
</mapper>